{% extends 'layout.html' %}
{% block content %}
  <h3>上传图片</h3>
  <form method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <label class="form-label">选择图片（可多选）</label>
      <input type="file" name="image" multiple class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">分类</label>
      <select class="form-select" name="category_id">
        <option value="">未分类</option>
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-success">上传</button>
  </form>
{% endblock %}